[Desktop Entry]
Name=MegaMan64Recompiled
Type=Application
Terminal=false
Icon=MegaMan64Recompiled
Exec=MegaMan64Recompiled
GenericName=MegaMan64Recompiled
Categories=Game;

